#!/bin/bash
# Install LazyVim starter if nvim config doesn't exist

set -e

if [ ! -d "$HOME/.config/nvim" ]; then
    echo "Installing LazyVim starter..."
    git clone https://github.com/LazyVim/starter "$HOME/.config/nvim"
    rm -rf "$HOME/.config/nvim/.git"
    echo "LazyVim starter installed!"
    echo "Chezmoi will apply your custom config next"
else
    echo "nvim config already exists, skipping installation"
fi
